#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.App {
  padding: 0;
  margin: 0;

  min-height: 100vh;
  width: 100vw;

  background-color: #F4F4F4;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




/* Navigation Bar */
.nav {
  padding: 1rem;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #A4B787;
  color: #F4F4F4;
  text-align: center;
  line-height: 1.1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


/* Home Page */
.home {
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.home > button {
  margin: 1rem;
  width: 70vw;
  height: auto;
}


/* CatCardsSection Page */



/* CatDictionarySection Page */



/* EmergencySection Page */



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
} */