#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.App {
  padding: 0;
  margin: 0;

  min-height: 100vh;
  width: 100vw;

  background-color: #EAEBD0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Navigation Bar */
.nav {
  margin: 0;
  height: 10vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #A4B787;
  color: #F4F4F4;
  line-height: 1.1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.homebutton {
  /* z-index: 1000; */
  /* position: flex; */
  margin-left: 3vw;
  margin-right: auto;
  /* align-self: flex-start; */
  /* top: 3vh; */
  /* left: 3vw; */
  
  width: 40px;
  height: 40px;
  background-color: #EAEBD0;
  border-radius: 50%;
  
  background-image: url("assets/home64.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.navcenter {
  display: flex;
  position: absolute;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
}
.navtitle {
  align-self: center;
  text-align: center;

}
.navcenter > img {
  width: 30pt;
  height: 30pt;
  /* margin-right: auto; */
}



/* Home Page */
.home {
  padding: 0;
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.home > button {
  margin: 1rem;
  width: 70vw;
  height: auto;

  background-color: #DA6C6C;
  color: #F4F4F4;
}



/* CatCardsSection Page */
.catcard {
  height: 50vh;
  width: 70vw;
  max-width: 250px;
  /* max-height: 20%; */
  /* max-width: 80%; */

  flex-direction: column;
  align-content: center;
  align-items: center;
  
  background-color: #DA6C6C;
  color: #F4F4F4;
}

.catcard-img {
  height: 100%;
  max-height: 30vh;
  width: 80%;
  border-radius: 8px;
  object-fit: cover;
  border: 3px solid #F4F4F4;
}
.catcard-info {
  /* margin-left: 2%; */
  text-align: center;
  font-size: 0.9em;
  line-height: 1.3;
}
.catcard > h3 {
  /* margin-top: 0;
  margin-bottom: 0; */
  margin: 0;
  padding: 0;
  /* color: #EAEBD0; */
}
.catcard > h3, p {
  margin: 0;
  padding: 0;
}


/* CatDictionarySection Page */
.dictionaryinfo {
  padding: 0%;
  width: 80vw;
}
.dictionaryinfo > button {
  width: 80vw;
  background-color: #DA6C6C;
  color: #F4F4F4;
}
.dictionaryinfo-info {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: justify;
}


/* EmergencySection Page */
.emergencyinfo {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  /* width: 80vw;
  max-width: 400px; */
  padding: 5%;
  background-color: #DA6C6C;
  text-align: justify;
  color: #F4F4F4;
}
.emergencyinfo > h3 {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #EAEBD0;
}
.emergencyinfo > ol, li {
  margin: 0 0 0 3%;
  padding: 0;
}









