#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.App {
  padding: 0;
  margin: 0;

  min-height: 100vh;
  width: 100vw;

  background-color: #EAEBD0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Navigation Bar */
.nav {
  padding: 1vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #A4B787;
  color: #F4F4F4;
  line-height: 1.1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.homebutton {
  /* z-index: 1000; */
  position: absolute;
  top: 4vh;
  left: 4vw;
  
  width: 40pt;
  height: 40pt;
  background-color: #EAEBD0;
  border-radius: 50%;
  
  background-image: url("assets/home64.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.navtitle {
  align-self: center;
  text-align: center;
}
.nav > img {
  width: 30pt;
  height: 30pt;
}



/* Home Page */
.home {
  padding: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.home > button {
  margin: 1rem;
  width: 70vw;
  height: auto;

  background-color: #DA6C6C;
  color: #F4F4F4;
}



/* CatCardsSection Page */
.catcard {
  width: 450px;
  height: 250px;

  flex-direction: row;
  align-content: center;
  align-items: center;
  
  background-color: #DA6C6C;
  color: #F4F4F4;
}

.catcard-img {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  border: 5px solid #EAEBD0;
}
.catcard-info {
  margin-left: 2%;

  text-align: justify;
}


/* CatDictionarySection Page */
.dictionaryinfo {
  padding:0%;
  width: 80vw;
}
.dictionaryinfo > button {
  width: 80vw;

  background-color: #CD5656;
  color: #F4F4F4;
}
.dictionaryinfo-info {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}


/* EmergencySection Page */
.emergencyinfo {
  background-color: #AF3E3E;
  text-align: justify;
  color: #F4F4F4;
}
.emergencyinfo > h3 {
  width: 100%;
  color: #EAEBD0;
}









/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
} */