:root {
  padding: 0;
  margin: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: #242424;
}


button {
  /* max-height: 30%;
  max-width: 90%; */

  border-radius: 8px;
  border: none;
  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  /* transition: all 0.1s ease; */
  background-color: #F4F4F4;
  color: #242424;
}
button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
button:active {
  transform: translateY(1px);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;  */
}


/* cards */
.cardslist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 5%;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #F4F4F4;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.2s ease;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f9f9f9;
  }
  button {
    background-color: #f9f9f9;
  }
}
